body{

    font-family:sans-serif;
    background-color: white;
}

form{

    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.title{

    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}


form div input{

    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4cc;
}

label{
    display: block;
    margin-bottom: 5px;
}

form{
    position: relative;
    margin-bottom: 15px;
}

form div i {

    position: absolute;
 
    padding: 10px;
}

/* .success-icon, .failure-icon{
    
    
    
} */
    /* right: 0;
    bottom: 0; */
    /* opacity: 0; */

.success-icon {
    color: green;
     
    
}

.failure-icon, .error{
    color: red;
}


.error{

    margin-top: 5px;
}

button{

    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border-color: #f2796e;
    border-radius: 8px;
    color: white;
    margin-top: 16px;
    font-size: 20px;
    cursor: pointer;
    
}

input:focus{

    border: 2px solid #f2796e;
}

.left, .brand {

    background-color: #f2796e;
}

.failure-icon, .success-icon {
    opacity: 0;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  /* #btn_update{

    display:none;
  } */



